/* 1. Reseteo y Fuentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* 2. Barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-secondary);
}

/* Firefox (soporte básico) */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) transparent;
}

/* 3. DEFINICIÓN DE VARIABLES */
:root {
  /* Modo Claro */
  --bg-main: #ffffff;
  --bg-sidebar: #f0f2f5;
  --bg-nav: #eae6df;
  --text-primary: #111b21;
  --text-secondary: #667781;
  --border-color: #d1d7db;
  --active-bg: #d1d7db;
}

/* 4. CAMBIO AUTOMÁTICO AL ACTIVAR DARK */
[data-theme="dark"] {
  --bg-main: #0b141a;
  --bg-sidebar: #111b21;
  --bg-nav: #202c33;
  --text-primary: #e9edef;
  --text-secondary: #8696a0;
  --border-color: #222d34;
  --active-bg: #374045;
}

/* 5. APLICAR COLOR BASE AL BODY */
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
