.contact_item-link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 72px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.contact_item-link:hover {
  background-color: #f5f6f6;
}

.contact_item-avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.contact_item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid #e9edef;
}

.contact_item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2px;
}

.contact_item-name {
  font-size: 17px;
  color: #111b21;
  font-weight: 400;
}

.contact_item-time {
  font-size: 12px;
  color: #667781;
}
