.side_nav-container {
  width: 60px;
  height: 100vh;
  background-color: var(--bg-sidebar);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-right: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
}

.side_nav-top,
.side_nav-middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side_nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--text-secondary);
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side_nav-item.active {
  color: var(--text-primary);
  background-color: var(--active-bg);
}

.side_nav-item:hover {
  background-color: var(--active-bg);
  color: var(--text-primary);
}

.side_nav-item:hover:not(.active) {
  background-color: var(--active-bg);
  color: var(--text-primary);
}

.side_nav-item.theme-selected {
  background-color: var(--active-bg);
  color: var(--text-primary);
  border: 1px solid var(--border-color); /* Un toque extra para distinguirlos */
}

.side_nav-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
