.searchBar-container {
  padding: 8px 16px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Para que no se aplaste */
}

.searchBar-wrapper {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 10px;
  padding: 0 12px;
  width: 100%;
  height: 35px;
}

.searchBar-icon {
  color: #54656f;
  display: flex;
  align-items: center;
}

.searchBar-input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  color: #667781;
  padding-left: 10px;
}
