.searchBar-container,
.searchBar-wrapper,
.searchBar-input,
.searchBar-icon {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.searchBar-container {
  padding: 8px 16px;
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.searchBar-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--bg-sidebar);
  border-radius: 10px;
  padding: 0 12px;
  width: 100%;
  height: 35px;
}

.searchBar-icon {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
}

.searchBar-input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  color: var(--text-primary);
  padding-left: 10px;
}

.searchBar-input::placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}
