.chat_header-container {
  height: 60px;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
  border-left: 1px solid #d1d7db;
}

.chat_header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat_header-name {
  margin: 0;
  font-size: 16px;
  color: #111b21;
}
