.chat_header-container {
  height: 60px;
  background-color: var(--bg-sidebar); /* Mismo gris que la SideNav */
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
  border-bottom: 1px solid var(--border-color); /* Borde sutil inferior */
  transition: background-color 0.3s ease;
}

.chat_header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat_header-name {
  margin: 0;
  font-size: 16px;
  color: var(--text-primary); /* Texto dinámico */
  transition: color 0.3s ease;
}

.back-button {
  display: none;
  background: transparent;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

/* --- RESPONSIVE MÓVIL (320px a 767px) --- */
@media (max-width: 767px) {
  .back-button {
    display: flex; /* APARECE solo en móviles */
  }

  .chat_header-container {
    padding: 10px; /* Ajustamos un poco el padding para que quepa el botón */
    display: flex;
    align-items: center;
  }
}
