/* 1. El contenedor principal */
.home_screen-main-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-main);
  transition: background-color 0.3s ease;
}

/* 2. El ASIDE (La columna izquierda) */
.home_screen-aside-container {
  width: 450px;
  min-width: 350px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  border-right: 1px solid var(--border-color);
  transition: all 0.3s ease;
}

/* 3. El MAIN (La columna derecha) */
.home_screen-main-content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main);
  transition: background-color 0.3s ease;
}
