/* 1. El contenedor principal (Flexbox) */
.home_screen-main-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

/* 2. El ASIDE (La columna izquierda) */
.home_screen-aside-wrapper {
  width: 450px;
  min-width: 350px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #d1d7db;
}

.home_screen-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  flex-shrink: 0;
}

.home_screen-titulo {
  font-size: 22px;
  font-weight: 700;
  color: #00a884;
  text-decoration: none;
  margin: 0;
}

/* 3. El MAIN (La columna derecha) */
.home_screen-main-content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}
