/* 1. El contenedor principal */
.home_screen-main-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

/* 2. El ASIDE (La columna izquierda) */
.home_screen-aside-container {
  width: 450px;
  min-width: 350px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #d1d7db;
}

/* 3. El MAIN (La columna derecha) */
.home_screen-main-content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}
