.message_list-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px 7%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* PATRÓN DINÁMICO */
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-color: var(--bg-chat);
  background-blend-mode: overlay; /* Esto fusiona los dibujos con el color de fondo */
  background-attachment: fixed;
  transition: background-color 0.3s ease;
}

.message-bubble {
  max-width: 65%;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14.5px;
  position: relative;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.message-bubble p {
  margin: 0;
  padding: 0;
  width: 100%;
}

.message-bubble.sent {
  align-self: flex-end;
  background-color: var(--bubble-out); /* Verde WA o Verde Oscuro */
}

.message-bubble.received {
  align-self: flex-start;
  background-color: var(--bubble-in); /* Blanco o Gris Oscuro */
}

.message-time {
  font-size: 11px;
  color: var(--text-secondary); /* Hora en gris dinámico */
  align-self: flex-end;
  margin-top: 4px;
}
